snippet ro
readonly="readonly"
endsnippet

snippet rdaquo
&#187;
endsnippet

snippet ldaquo
&#171;
endsnippet

snippet script
<script type="text/javascript" src="${1}"></script>
endsnippet

snippet linkcss
<link rel="stylesheet" href="${1}">
endsnippet

