snippet ast "JUnit assert"
assert(${1});
endsnippet

snippet astt "Junit assertThat"
assertThat(${1:actual}, ${0});
endsnippet

snippet is "Hamcrest is"
is(${0})
endsnippet

snippet eq "Hamcrest equalTo" w
equalTo(${0})
endsnippet

