snippet em
import Ember from 'ember';
endsnippet

snippet emds
import DS from 'ember-data';
endsnippet

snippet dsattr
${1:name}: DS.attr('${2:type}')
endsnippet

snippet emmod
DS.Model.extend({
  $0
});
endsnippet

snippet emobj
Ember.Object.extend({
  $0
});
endsnippet

snippet ext "extend" w
extend({
  $0
});
endsnippet

snippet emget
get('${1:key}')
endsnippet

