extends taskpaper

snippet ffm 
---
title: ${1}
created: `!v datetime#timestamp()`
modified: `!v datetime#timestamp()`
tags: [${2}]
---

$0
endsnippet

snippet link
[${1:title}](${2:link})
endsnippet
