snippet __init
def __init__(self):
    ${0} 
endsnippet

snippet cdef
def ${1:name}(self${2}):
    ${3}

endsnippet

snippet ifmain
if __name__ == "__main__":
    ${0}
endsnippet

snippet debug
import pdb; pdb.set_trace()
endsnippet

snippet ndebug
from nose.tools import set_trace; set_trace()
endsnippet

