snippet done
@done(`!v ShortDate()`)
endsnippet

snippet wait
@wait(`!v ShortDate()`)
endsnippet

snippet drop
@dropped(`!v ShortDate()`)
endsnippet

snippet p1
@priority(1)
endsnippet

snippet p2
@priority(2)
endsnippet

snippet p3
@priority(3)
endsnippet

snippet read
@read(`!v ShortDate()`)
endsnippet
